
body {
    width: 90%;
    margin: auto;
    margin-top: 1%;
    height: 1000px;
}

.header {
    border: 1px solid;
    color: red;
    width: 100%;
    height: 100px;
    float: left;
}

.leftside {
    float: left;
    width: 20%;
    height: 400px;
    margin-top: 0.5%;
}

.content {
    float: left;
    width: 78.5%;
    height: 700px;
    margin-left:0.5%;
    margin-top:0.5%;
}
.user{
    width: 90%;
    height: 500px;
    margin-top:0.5%;
    margin:auto;
}
